.a {
  height: 400px;
  width: 300px;
  border-radius: 5px;
  box-shadow: -7px -7px 17px #eee,
              7px 7px 17px rgba(70,70,70,0.45);
}

@media only screen and (max-width: 1600px) {
  .a {
    width: 260px;
  }
}

@media only screen and (max-width: 1400px) {
  .a {
    width: 400px;
  }
}

@media only screen and (max-width: 1100px) {
  .a {
    width: 300px;
  }
}

.b{
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 10px;
  background: rgba(0,0,0,0);
  backdrop-filter: blur(12px);
  transform: translateY(-500px);
  transition-delay: 0s;
  transition-duration: 0.6s;
}

.a:hover .c {
  height: 100%;
  transition-delay: 0s;
  transition-duration: 0.6s;
  transform: translateY(0);
}

.d {
  width: 300px;
  position: absolute;
}

.d h1 {
  text-align: center;
}

.e {
  display: flex;
  justify-content: center;
}

.c p {
  text-align: center;
}