.tutorial {
  // padding-top: 10px;
  // min-height: 70%;
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  min-width: 300px;
  
  justify-content: space-around;
}

.middle {
  position: relative;
}
.card {
  // min-height: 340px;
  // min-height: 70%;
  // max-height: 80%;
  width: 80%;
  height: 420px;
}

.front,.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
  // transition-delay: .1s;

  border-radius: 10px ;
  // box-shadow: 0px 0px 10px 2px #8e8e8e;
  // background: rgba(0,0,0,0.1);
  box-shadow: -7px -7px 17px #eee,
              7px 7px 17px rgba(70,70,70,0.45);
}

.front img {
  height: 100%;
}

.front:before {
  height: 100%;
  // width: 30%;
  content: '';
  position: absolute;
  background: rgba(0,0,0,0.05);
  
  transform: skewX(30deg);
}

.front {
  transform: perspective(600px) rotateY(0deg);

  border-radius: 15px;
  // background: red;

  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  // background: green;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
}

.back:before {
  height: 100%;
  width: 80%;
  content: '';
  position: absolute;
  // background: rgba(0,0,0,0.05);
  transform: skewX(-30deg);
}

.back_content {
  color: #2c3e50;
  text-align: center;
  width: 100%;
}

.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.pBack {
  padding: 0px 20px 20px 20px;
}

.hFront {

}

.iconDiv {
  padding: 20px 0px;
}